.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  width: 100vw;
}
.container .content {
  line-height: 3rem;
}
.container .content .nextError {
  display: inline-block;
  margin: 0 1.25rem 0 0;
  padding-right: 1.438rem;
  font-size: 1.5rem;
  font-weight: 500;
  vertical-align: top;
  border-right: 0.063rem solid rgba(0, 0, 0, 0.3);
}
.container .content .message {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem;
}