.button {
  display: block;
  width: unset;
  height: unset;
  padding: 0.625rem 0.938rem;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 0.875rem;
  background-color: #cf4b04;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  color: #fff;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: fill;
}

.button:hover {
  background-color: #f7941e;
  cursor: pointer;
}

.button:disabled {
  background-color: #d1d1d1; /* gray out background */
  color: #888888; /* gray out text */
  cursor: not-allowed; /* show disabled cursor */
  pointer-events: none; /* disable pointer events */
}

.formbutton {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-size: 20px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  text-transform: none;
}

.formbutton:hover {
  background-color: #9d3903;
}

.iconButton {
  height: 2.25rem;
  width: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}
.iconButton i {
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
}

@media (pointer: coarse), (hover: none) {
  .button:hover {
    background-color: #cf4b04;
  }
  .button:active {
    background-color: #f7941e;
  }
  .formbutton:active {
    background-color: #9d3903;
  }
}
@media screen and (pointer: coarse) and (max-width: 768px), screen and (hover: none) and (max-width: 768px) {
  .button {
    padding: 0.75rem 1.125rem;
    font-size: 1rem;
  }
  .formbutton {
    padding: 1rem 1.5rem;
    font-size: 20px;
  }
  .iconButton {
    height: 2.625rem;
    width: 2.625rem;
    padding: 0;
  }
  .iconButton i {
    font-size: 1.625rem;
  }
}