.toggleSettings {
  position: absolute;
  margin: 1rem;
  right: 0;
}

.videoContainer {
  overflow-y: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.videoContainer i {
  font-size: 20px;
  color: #fff;
}

.videoContainer button {
  padding: 0;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
  background-color: #cf4b04;
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.videoContainer button:hover {
  background-color: #f7941e;
  cursor: pointer;
}

.video {
  height: 100%;
  overflow: hidden;
  display: block;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  padding-top: 60px;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 0.4s, z-index 1.2s;
  transition: opacity 0.4s, z-index 1.2s;
  opacity: 0;
  z-index: -99;
}

.nav.overlay {
  -webkit-transition: opacity 0.4s, z-index 1.2s;
  transition: opacity 0.4s, z-index 1.2s;
  z-index: -999;
}

.nav.overlay.active {
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  z-index: 99;
  -webkit-transition: opacity 0.4s, z-index 0s;
  transition: opacity 0.4s, z-index 0s;
}

.overlayContent {
  background-color: #fff;
  padding: 1rem;
  max-width: 75%;
}
.overlayContent h3 {
  font-size: 20px;
  margin-bottom: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.overlayContent pre {
  display: block;
  margin-bottom: 16px;
}
.overlayContent pre code {
  font-size: 16px;
  text-wrap: wrap;
  word-break: break-all;
}
.overlayContent .overlayButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}
.overlayContent .overlayButtons button {
  padding: 16px 24px;
  height: unset;
  width: unset;
  display: block;
}

.settingsOption {
  margin: 16px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: clip;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settingsOption .settingLabel {
  width: 11rem;
}
.settingsOption select {
  height: 25.5px;
  outline: none;
  background-color: #fff;
}

#overlaySettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 754px) {
  .videoContainer i {
    font-size: 24px;
  }
  .videoContainer button {
    height: 40px;
    width: 40px;
  }
}