.videoContainer {
  height: calc(100vh - 50px);
  overflow-y: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.videoContainer button {
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: Roboto Slab;
  background-color: #e5e7eb;
}
.videoContainer button:hover {
  background-color: #d1d5db;
  cursor: pointer;
}

.video {
  height: calc(100vh - 50px);
  overflow: hidden;
}

.toggleSettings {
  position: absolute;
  margin: 1rem;
}

.overlay {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayContent {
  background-color: #fff;
  padding: 1rem;
  max-width: 75%;
}
.overlayContent h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
.overlayContent pre {
  display: block;
  margin-bottom: 16px;
}
.overlayContent pre code {
  font-size: 16px;
  text-wrap: wrap;
  word-break: break-all; /* Allow long words to break */
}
.overlayContent .overlayButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

.sourceSelectPanel {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: clip;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 8px;
}

#overlaySettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

@media screen and (max-width: 668px) {
  .toggleSettings {
    right: 0;
  }
}