.overlayContent {
  background-color: #fff;
  padding: 1rem;
  max-width: 35rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  grid-row-gap: 1rem;
}
.overlayContent h3 {
  font-size: 1.25rem;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.overlayContent p {
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.overlayContent pre {
  display: block;
  margin-bottom: 0.5rem;
}
.overlayContent pre code {
  font-size: 1rem;
  text-wrap: wrap;
  word-break: break-all;
}
.overlayContent pre .errorMSG {
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.overlayContent .settingsControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.overlayContent .overlayButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
}

.form {
  padding: 0 2rem;
  font-family: Roboto;
  max-width: 500px;
  width: -webkit-fill-available;
  margin: auto;
  position: fixed;
}
.form .container .checkbox {
  font-weight: 400;
  margin-bottom: 2rem;
  display: block;
}
.form .container .checkbox input {
  margin-right: 19px;
}
.form .container label {
  font-weight: 600;
}
.form h3, .form p {
  margin-bottom: 2rem;
}
.form h2, .form h3 {
  font-size: 20px;
}
.form input[type=text], .form input[type=email], .form input[type=tel], .form input[type=password] {
  width: 100%;
  padding: 7px 12px;
  margin: 8px 0;
  margin-bottom: 2rem;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  height: 40px;
  color: #313A3E;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #C9CED1;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form input[type=text]:focus, .form input[type=email]:focus, .form input[type=password]:focus {
  border-color: #cf4b04;
  -webkit-box-shadow: 0 0 0 4px rgba(207, 75, 4, 0.2);
          box-shadow: 0 0 0 4px rgba(207, 75, 4, 0.2);
  outline: none;
}

.settingsContainer {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.settingsContainer .overlayContent {
  padding: 0;
  border: 1px solid #C9CED1;
  border-radius: 12px;
  grid-row-gap: 0;
  width: 100%;
  max-width: 492px;
}
.settingsContainer .overlayContent .overlayBody {
  padding: 1.5rem;
  display: inherit;
  margin: auto;
  max-width: 350px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settingsContainer .overlayContent .overlayBody .userAvatar {
  max-height: 350px;
  width: 100%;
  cursor: default;
}
.settingsContainer .overlayContent .overlayFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #C9CED1;
}
.settingsContainer h1 {
  font-size: 32px;
  margin: auto;
  padding: 40px 1.5rem;
  max-width: 1000px;
}
.settingsContainer p, .settingsContainer h5 {
  font-size: 14px;
  font-weight: 400;
}
.settingsContainer h5 {
  margin: 1rem auto;
}
.settingsContainer .form {
  width: auto;
  position: unset;
  margin: auto 1.5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 860px;
  padding: 0;
  border: 1px solid #C9CED1;
  border-radius: 1rem;
}
.settingsContainer .form .sectionContainer {
  padding: 1.5rem;
  line-height: 1.6;
}
.settingsContainer .form .sectionContainer .userAvatar {
  width: 100px;
  height: 100px;
  float: right;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settingsContainer .form .sectionContainer .userAvatar:hover {
  cursor: pointer;
}
.settingsContainer .form .sectionContainer input {
  margin-right: 2rem;
}
.settingsContainer .form .sectionFooter {
  border-top: 1px solid #C9CED1;
  padding: 0.75rem 1.5rem;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.settingsContainer .form .sectionFooter p {
  margin: 0.625rem 0;
}
.settingsContainer .form p {
  margin: 0.75rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.settingsContainer .form h4 {
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
}
.settingsContainer .form h3 {
  margin-bottom: 0.75rem;
}
.settingsContainer .form input {
  max-width: 300px;
  margin: unset;
  margin-bottom: 1.5rem;
  font-size: 14px;
}
.settingsContainer .form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

span.psw {
  float: inline-end;
  margin-top: 1.5rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
span.psw a {
  color: #cf4b04;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .form {
    height: calc(100% - 124px);
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (max-width: 768px) {
  .settingsContainer .form .sectionFooter {
    padding: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .settingsContainer {
    height: auto;
  }
  .settingsContainer .form {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}