.videoContainer {
  overflow-y: hidden;
  overflow-x: clip;
  display: grid;
  align-items: stretch;
  justify-items: center;
  height: 100%;
  width: auto;
  margin: 0 auto;
  max-width: 71rem;
  max-height: 100%;
  position: relative;
  .controls {
    height: max-content;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin: 1rem;
      position: sticky;
      right: 1rem;
    }
  }
  .controls.none {
    opacity: 0;
  }
  .video {
    // height: 100%;
    overflow: hidden;
    display: block;
    pointer-events: none;
    position: relative;
    height: 100%;
    width: auto;
  }
}

@import "overlay.scss";
@import "OverlayContent.scss";

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  .videoContainer {
    display: flex;
    .video {
      height: -webkit-fill-available;
      width: auto;
    }
  }
  @media not all and (max-height: 899px) and (min-resolution:.1dpi) {
    /* CSS specific to the older generation iPad. */ 
    .videoContainer {
      .video {
        height: 100%;
      }
    }
  }
}