.overlayContent {
    background-color: #fff;
    padding: 1rem;
    max-width: 35rem;
    display: grid;
    column-gap: 1rem;
    grid-row-gap: 1rem;
    h3 {
      font-size: 1.25rem;
      margin-bottom: 0;
      user-select: none;
    }
    p {
      margin-bottom: 0;
      user-select: none;
    }
    pre {
      display: block;
      margin-bottom: 0.5rem;
      code {
        font-size: 1rem;
        text-wrap: wrap;
        word-break: break-all; // Allow long words to break
      }
      .errorMSG {
        word-break: normal;
        user-select: none;
      }
    }
    .settingsControls {
      display: flex;
      justify-content: space-between;
  
    }
    .overlayButtons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 1rem;
      row-gap: 1rem;
    }
  }
.settingsContainer {
    
}