.toggleSettings {
    position: absolute;
    margin: 1rem;
}
.videoContainer {
    overflow-y: clip;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    i {
        font-size: 20px;
        color: #fff;
    }
    button {
        padding: 0;
        border: none;
        outline: none;
        border-radius: 6px;
        font-size: 14px;
        font-family: Roboto Slab;
        background-color: #cf4b04;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    }
    button:hover {
        background-color: #f7941e;
        cursor: pointer;
    }
}
.video {
    height: 100%;
    overflow: hidden;
    display: block;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.overlayContent {
    background-color: #fff;
    padding: 1rem;
    max-width: 75%;
    h3 {
        font-size: 20px;
        margin-bottom: 8px;
        user-select: none;
    }
    pre {
        display: block;
        margin-bottom: 16px;
        code {
            font-size: 16px;
            text-wrap: wrap;
            word-break: break-all; /* Allow long words to break */
        }
    }

    .overlayButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 16px;
        row-gap: 16px;
        button {
            padding: 8px 16px;
            height: unset;
            width: unset;
            display: block;
        }
    }
}
.settingsOption {
    margin: 16px 0 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow: clip;
    column-gap: 1rem;
    row-gap: 0.5rem;
    user-select: none;
    .settingLabel {
        width: 11rem;
    }
    select {
        height: 25.5px;
        outline: none;
        border: 2px solid #000;
        background-color: #fff;
    }
}
#overlaySettings {
    display: flex;
    flex-direction: column;
    align-items: right;
}
@media screen and (max-width: 656px) {
    .videoContainer {
        i {
            font-size: 24px;
        }
        button {
            height: 40px;
            width: 40px;
        }   
    }
    // .video {
    //     height: 100%;
    // }
    
    .overlay {
        top: 60px;
        height: calc(100% - 60px);
    }
}