.videoContainer {
  overflow-y: clip;
  overflow-x: clip;
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  height: 100%;

  i {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
  }

  button {
    padding: 0;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: #cf4b04;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    pointer-events:fill;
  }

  button:hover {
    background-color: #f7941e;
    cursor: pointer;
  }
  .controls {
    height: max-content;
    // background-color: teal;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    .toggleSettings {
      margin: 1rem;
      position: sticky;
      right: 1rem;
    }
  }
  .video {
    // height: 100%;
    overflow: hidden;
    display: block;
    pointer-events: none;
  }
}

.switchCamBtn {
  position: absolute;
  bottom: 3rem;
}

@import "overlay.scss";

.overlayContent {
  background-color: #fff;
  padding: 1rem;
  max-width: 75%;
  display: grid;
  h3 {
    font-size: 20px;
    margin-bottom: 8px;
    user-select: none;
  }
  pre {
    display: block;
    margin-bottom: 16px;
    code {
      font-size: 16px;
      text-wrap: wrap;
      word-break: break-all; // Allow long words to break
    }
  }
  .overlayButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;
    button {
      padding: 10px 15px;
      height: unset;
      width: unset;
      display: block;
    }
  }
}

.settingsOption {
  margin: 16px 0 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: clip;
  column-gap: 1rem;
  row-gap: 0.5rem;
  user-select: none;
  .settingLabel {
    width: 11rem;
  }
  select {
    height: 25.5px;
    outline: none;
    // border: 2px solid #000;
    background-color: #fff;
  }
  button {
    padding: 10px 15px;
    width: unset;
    height: unset;
    margin-top: 1rem;
    display: block;
  }
}

#overlaySettings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .videoContainer {
    i {
      font-size: 26px;
    }
    button {
      height: 40px;
      width: 40px;
    }
  }
  .overlayContent {
    p {
      font-size: 18px;
      margin: 0;
    }
    .overlayButtons {
      button {
        padding: 12px 18px;
      }
    }
  }
  .settingsOption {
    button {
      width: unset;
      height: unset;
      padding: 12px 18px;
      font-size: 18px;
    }
  }
}

@media not all and (max-height: 899px) and (min-resolution:.1dpi) {
  .overlayContent {
    .overlayButtons {
      column-gap: 0;
      button:first-child {
        margin-right: 16px;
      }
    }
  }
  .videoContainer {
    .video {
      height: 100%;
    }
  }
}