.form {
  padding: 0 2rem;
  font-family: Roboto;
  max-width: 500px;
  width: -webkit-fill-available;
  margin: auto;
  position: fixed;
  .container {
    .checkbox {
      font-weight: 400;
      margin-bottom: 2rem;
      display: block;
      input {
        margin-right: 19px;
      }
    }
    label {
      font-weight: 600;
    }
  }
  h3, p {
    margin-bottom: 2rem;  
  }
  h2, h3 {
    font-size: 20px;
  }
  input[type=text], input[type=email], input[type=tel],input[type=password] {
      width: 100%;
      padding: 7px 12px;
      margin: 8px 0;
      margin-bottom: 2rem;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      height: 40px;
      color: #313A3E;
      background-color: #ffffff;
      background-clip: padding-box;
      border: 1px solid #C9CED1;
      border-radius: 0px;
      box-shadow: none;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  }
  input[type=text]:focus, input[type=email]:focus,input[type=password]:focus {
    border-color: #cf4b04;
    box-shadow: 0 0 0 4px rgba(207, 75, 4, 0.2);
    outline: none;
  }
}
.settingsContainer {
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 32px;
    margin: auto;
    padding: 40px 1.5rem;
    max-width: 1000px;
  }
  p, h5 {
    font-size: 14px;
    font-weight: 400;
  }
  h5 {
    margin: 1rem auto;
  }
  .form {
    width: auto;
    position: unset;
    margin: auto 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 860px;
    padding: 0;
    border: 1px solid #C9CED1;
    border-radius: 1rem;
    .sectionContainer {
      padding: 1.5rem;
      line-height: 1.6;
      .userAvatar {
        width: 100px;
        height: 100px;
        float: right;
        border-radius: 50%;
        user-select: none;
      }
      .userAvatar:hover {
        cursor: pointer;
      }
    }
    .sectionFooter {
      border-top: 1px solid #C9CED1;
      padding: 0.75rem 1.5rem;
      display: inherit;
      align-items: center;
      justify-content: space-between;
      p {
        margin: 0.625rem 0;
      }
    }
    p {
      margin: 0.75rem 0;
      width: fit-content
    }
    h4 {
      font-size: 1.25rem;
      width: fit-content;
      font-weight: 600;
    }
    h3 {
      margin-bottom: .75rem;
      
    }
    input {
      max-width: 300px;
      margin: unset;
      margin-bottom: 1.5rem;
      font-size: 14px;
    }
    button {
      width: fit-content;
    }
  }
}

span.psw {
  float: inline-end;
  margin-top: 1.5rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  a {
    color: #cf4b04;
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .form {
    height: calc(100% - 124px);
    display: grid;
    align-content: center;
  }
}

@media screen and (max-width: 768px) {
  .settingsContainer {
    .form {
      .sectionFooter {
        padding: 1.5rem;
        flex-direction: column;
      }
    }
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .settingsContainer {
    height: auto;
    .form {
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}