* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    //Hi
}
html,
body {
    height: 100%;
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

.app {
    width: 100%;
    height: calc(100vh - 3.75rem);
    margin: auto auto;
    margin-top: 3.75rem;
    overflow-y: auto;
    /* The height is calulated to be the full height of the device's screen, minus 60px (3.75rem) to compensate for the nav bar at the top. */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling:touch;
}