* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,
body {
    height: 100%;
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

.app {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 62.5rem;
    margin: auto;
    overflow-x: clip;
    height: 100%;
    position: relative;
}
  
/* The pagescroll is made to keep the scrolling bar of the page's content out of the nav bar that is at the top. */
.pagescroll {
    width: 100%;
    margin: auto auto;
    top: 3.75rem;
    overflow-y: auto;
    position: fixed;
    /* The height is calulated to be the full height of the device's screen, minus 60px (3.75rem) to compensate for the nav bar at the top. */
    height: calc(100% - 3.75rem);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling:touch;
}