@media (pointer: coarse), (hover: none) {
  .links {
    a:after {
      transform: scaleX(1);
      opacity: 0;
    }
    a:hover {
      color: #cf4b04;
    }
    a:active {
      color: #004473;
    }
    a:active:after {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 628px) {
  .navHolder {
    height: 3.75rem;
    border-bottom: 0.063rem solid #e2e2e2;
    overflow-y:hidden;
    transition: height .4s;
  }
  .navHolder.active {
    height: calc(5.125rem + (3.188rem * 4));
  }
  .bars {
    display: block;
  }

  .links {
    flex-direction: column;
    //border: 1px solid;
    top: 3.75rem;
    margin: auto;
    width: 100%;
    justify-content: flex-start;  
    padding-right: 0;
    height: unset;
    a {
      padding: 0 1.875rem;
      min-height: 3.125rem;
      border-bottom: 0.063rem solid #e2e2e2;
      //font-size: 16px;
      font-family: Roboto;
      margin: 0;
    }

    a::after {
      border: none;
    }
    a:hover {
      background-color: #f9f9fb;
    }
  }
  .links :nth-child(1) {
    border-top: 0.063rem solid #e2e2e2;
    margin-top: 1.313rem;
  }
  .logo {
    margin-right: 0;
  }
  @media (pointer: coarse), (hover: none) {
    .links {
      a:hover {
        background-color: white;
      }
      a:active {
        background-color: #f9f9fb;
      }
    }
  }
}
@media screen and (max-width: 16.938rem) {
  .logo {
    width: 100%;
    img {
      width: 100%;
      height: fit-content;
    }
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  @media not all and (max-height: 899px) and (min-resolution:.1dpi) {
    .pagescroll {
      width: 100vw;
    }
    .apps {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    .links {
        column-gap: 0;
        padding-right: 0;
        a {
            margin-right: 35px;
        }
    }
  }
}