@media screen and (max-width: 656px) {
  .navHolder {
    flex-wrap: wrap;
    min-height: 60px;
  }
  .bars {
    display: block;
  }

  .logo {
    margin-top: 10px;
  }

  .links {
    height: 0;
    flex-direction: column;
    //border: 1px solid;
    position: fixed;
    top: 60px;
    background-color: black;
    transition: height 0.4s;
    a {
      transition: color 0.4s ease;
      color: #000;
    }
  }

  .links.active {
    height: calc(100% - 60px);
    a {
      color: #fff;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .pagescroll {
    margin: auto auto;
    /* The height is calulated to be the full height of the device's screen, minus 60px to compensate for the nav bar at the top. */
    height: calc(100% - 60px);
    top: 60px;
    position: absolute;
}
}